.testonly {
    height: 30px;
    font-size: 2em;
    color: saddlebrown;
    background-color: sandybrown;
}
.header {
    height: 30px;
    background-color: aquamarine;
    text-align: center;
    padding-bottom: 20px;
}
#test-only {
    padding-right: 20px;
    background-color: sienna;
}